<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Simple Web Project: Home</title>
</head>
<body>

<h1 th:text="|Hello, ${name}! Welcome on my blog!|">DEFAULT TITLE</h1>

<p th:text="|Number of posts: ${entries.size()}|">NUMBER OF ENTRIES</p>

<div th:each="entry : ${entries}">
    <h2>
        <a th:href="@{/blog-entries/{id}(id=${entry.id})}" th:text="${entry.title}">TITLE</a>

    </h2>
    <p>
        Author: <span th:text="${entry.author}">AUTHOR</span>
        |
        Created: <span th:text="${entry.created}">CREATED</span>

    </p>

</div>

</body>
</html>
